<!--The content below is only a placeholder and can be replaced.-->
<div class="root" style="text-align:center">
  <h1>
    Welcome to {{ title }} !
  </h1>
  <div><h2>Scenario 1 :</h2><app-scenario1></app-scenario1></div>
  <div><h2>Scenario 2 :</h2><app-scenario2></app-scenario2></div>
  <div><h2>Scenario 3 :</h2><app-parent1></app-parent1></div>
  <div><h2>Scenario 4 :</h2><app-parent2></app-parent2></div>
  <div><h2>Scenario 5 :</h2><app-parent3></app-parent3></div>
  <div><h2>Scenario 6 :</h2><app-parent4></app-parent4></div>
</div>
